<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title> Tutorial </title>
    <link href = "{{url_for('static', filename='css/home_proxy.css') }}" rel = "stylesheet"  type = "text/css">
<body>
<body>
<div id="att">
    <h1>{{group_name}}</h1>
    <h2>Add Users</h2>
    <form action="/attendance_submit" method="post">
        {% for user in users_add %}
          <input type="checkbox" name="user" value="{{user.get('username')}}">{{user.get('username')}} {{user.get('student_number')}}<br>
        {% endfor %}
        <input type="submit" value="Add">
    </form>
    <br>
    <h2>Delete Users</h2>
    <form action="/attendance_delete" method="post">
        {% for user in users_delete %}
          <input type="checkbox" name="user" value="{{user.get('username')}}">{{user.get('username')}} {{user.get('student_number')}}<br>
        {% endfor %}
        <input type="submit" value="Delete">
    </form>
    <br>
    <form action="/home_admin" method="post">
        <button> Done  </button>
    </form>

</div>
</body>
</html>

<style>

#att {
    position: fixed;
    top : 10%;
    left: 50%;
    margin-top: 0px;
    margin-left: -175px;
}

</style>