<!DOCTYPE html>
<html>

<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">

  <title> 2Fast4U Voting </title>

  <link href = "../../static/css/home_proxy.css" rel = "stylesheet"  type = "text/css"> </head>

<body>

  <header> 2Fast4U Voting </header>

  <h2> Animated Modal with Header and Footer </h2>

  <!-- Trigger/Open The Modal -->

  <div id = "questions">
  	<h2> Current Question: </h2>
  	<button id = "myBtn"> Se va a cambiar Moodle por Blackboard? </button>

  	<h2> <br> Past Questions: </h2>
  	<button class = "past_questions"> Banos Unisex? </button> <br> <br>
  	<button class = "past_questions"> Huelga o no huelga? </button> <br> <br>
  </div>

  <!-- The Modal -->
  <div id = "myModal" class = "modal">

    <!-- Modal content -->
    <div class = "modal-content">

      <div class = "modal-header">
        <span class = "close"> &times </span>
		<h2> Voting Prompt </h2>
      </div>

      <div class = "modal-body">
        <p> Question:  </p>
        <p id = "current_question"> Type of question: default </p>

		<!-- <button type = "button" id = "Yes" onclick = 'document.getElementById("yes_result").innerHTML = "Yes: 5" '> Yes </button> -->
  <p id = "current_question_name"> </p>
        <p id = "current_question_type"> </p>
        <p> <button id = "Yes"> Yes </button>
        <button id = "No"> No  </button>
        <button id = "Abstained"> Abstained </button> </p>
		    <button id = "Results"> Results </button>
      </div>
  	</div>
  </div>

<footer>
 <p> Alex </p>
<footer>

<script src = "../js/voting_prompt.js"></script>
		<button id = "Results"> Results </button>
      </div>
  	</div>
  </div>

  <footer>
	<p> Alex </p>
  <footer>

    <script src = "home_proxy.js"> </script>
</body>

</html>
