

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>2Fast4U Voting System</title>


  <h1>2Fast4U Voting System</h1>

      <link rel="stylesheet" href="{{url_for('static', filename='css/login-style.css') }}">
</head>



  <div class="main">  <img src="{{url_for('static', filename='img/VotingLogo.jpg') }}" width="412px" height="205px">
    <p class="login-form"><a href="/loginPage"><button>Login or Register</button></a></p>
  <br>

    The 2Fast4U Voting is a voting web application that helps facilitate operations for meetings.
    The web application will control questions and keep a rally of the answers.
    <br>
    <b>To use the application:</b>
    <br>
    1. Touch the question you want to do operations on.
    <br>
    2. If you choose old questions, the quesiton with the results and extra information will
        be displayed.
    <br>
    3. If you choose the current question, you will be presented with the option to vote yes, no or
        abstained.
    <br>
    <b>To proceed:</b>
    <br>
    1. Touch the login/register option.
    <br>
    2. If you have not registered, choose the register option and enter your information. Later,
        a code will be sent to your email to confirm it. Once entered, you will be sent to
        the Home page and you may proceed to use the application.
        <br>
    3. You may <b>not</b> proceed further into the application if you have not confirmed your email.
    <br>
    3. If already registered, once you enter your credentials you will be sent to the Home page
       and you may proceed to use the application.
       <br>

</form>
</div>
</div>
  <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>

    <script  src="{{url_for('static', filename='js/login-js.js') }}"></script>


</html>
