<!DOCTYPE html>
<html>
  
<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">

  <title> 2Fast4U Voting </title>

  <link href = "{{url_for('static', filename='css/voting_home.css') }}" rel = "stylesheet"  type = "text/css"> </head>
  
<body>

  <header> 2Fast4U Voting </header>


  <!-- Trigger/Open The Modal -->

  <div id = "questions">
    <h2> Current Question: </h2>
      <form action="/vote_page" method="post">
    <button id = "current_question"> {{titulo}}  </button>
      </form>

      <br><h2> Past Questions: </h2>
      {% for question in questions %}
      <form action="/results" method="post">
         <button class = "past_questions" id="past_question" value="{{question.get('question_title')}}"> {{question.get("question_title")}} </button><br><br>
      </form>
      {% endfor %}


  </div>

  <!-- The Modal -->
  <div id = "currentModal" class = "modal">

    <!-- Modal content -->
    <div class = "modal-content">
  
      <div class = "modal-header">
        <span class = "close"> &times </span>
        <h2> Voting Prompt </h2>
      </div>
    
      <div class = "modal-body">
        <p id = "question_name"> </p>
        <p id = "question_type"> </p>
        <p> <button id = "Yes"> Yes </button>
        <button id = "No"> No  </button>
        <button id = "Abstained"> Abstained </button> </p>

    <button id = "Results"> Results </button>
      </div>

    </div>
  </div>
 
  <footer>
     <p> {% if current_user.is_authenticated %}
            Welcome: {{ current_user.email }}
        {% endif %} </p>
  </footer>


</body>
  
</html>