<!DOCTYPE html>
<html lang="en" >
<head>
<title> 2Fast4U Voting </title>
<link href = "{{url_for('static', filename='css/voting_home.css') }}" rel = "stylesheet"  type = "text/css"></head>
</head>
<style>
    body {
  margin: 0;
  font-family: sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 30px;
  padding-top: 10px;
  background: #F40408;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

</style>
<body>
<div class="header" id="myHeader">
  <span id="nombre">2Fast4U Voting</span>
    <a href="/logout" id="logout" > Logout</a>

</div>

  <!-- Trigger/Open The Modal -->
<div class="content">
  <div id = "questions">
    <h2> Current Question: </h2>
    {% for question in a %}
     <form action="/vote_page" method="post">
         <button id="current_question1" value="{{question.get('question_title')}}"> {{question.get("question_title")}} </button><br><br>
        <input type="hidden" id="current_question" name="current_question" value="{{question.get('question_title')}}" >
      </form>
    {% endfor %}
      <br><h2> Past Questions: </h2>
      {% for question in questions %}
      <form action="/results" method="post">
         <button class = "past_questions" id="past_question" value="{{question.get('question_id')}}"> {{question.get("question_title")}} </button><br><br>
        <input type="hidden" id="question" name="question" value="{{question.get('question_id')}}" >
      </form>
      {% endfor %}

  </div>

</div>
 <!---->
  <!--<footer>-->
     <!--<p> {% if current_user.is_authenticated %}-->
            <!--Welcome: {{ current_user.email }}-->
        <!--{% endif %} </p>-->
  <!--</footer>-->



</body>
  
</html>