<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  
<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">

  <title> 2Fast4U Voting </title>

  <link href = "../../static/css/voting_home.css" rel = "stylesheet"  type = "text/css"> </head>
  
<body>

  <header> 2Fast4U Voting </header>


  <!-- Trigger/Open The Modal -->

  <div id = "questions">
    <h2> Current Question: </h2>
    <button id = "current_question"> {{titulo}}</button>


    <h2> <br> Past Questions: </h2>
    {% for question in g.questions%}
				<!--display question already voted on-->
            <tr>
                <td>
                    <form action="\results" method="post">
                        <button class = "past_questions" name="question" type="submit" value="{{question}}">{{question.get('question_title')}}</button>
                    </form>
                </td>
            </tr>
				<!--END display database content-->
        {% endfor %}
  </div>

  <!-- The Modal -->
  <div id = "currentModal" class = "modal">

    <!-- Modal content -->
    <div class = "modal-content">
  
      <div class = "modal-header">
        <span class = "close"> &times </span>
        <h2> Voting Prompt </h2>
      </div>
    
      <div class = "modal-body">
        <p id = "question_name"> </p>
        <p id = "question_type"> </p>
        <p> <button id = "Yes"> Yes </button>
            <button id = "No"> No  </button>
            <button id = "Abstained"> Abstained </button>
        </p>

    <button id = "Results"> Enviar </button>
      </div>

    </div>
  </div>
 
  <footer>
     <p> Alex </p>
  <footer>

    <script src = "../../static/js/voting_home.js"> </script>
</body>
  
</html>